{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_adele/initview
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "userid" : 1

    }
}}

<!-- Ensure the following markup resides within the content area of your Moodle page -->

<div class="container my-4">
  <h2 class="mb-4">{{#str}} detailview, local_taskflow {{/str}}</h2>
  {{#returnurl}}
    <a href="{{returnurl}}" class="btn btn-secondary mb-2" data-region="editassignment-smartback">
      {{#str}} back, core {{/str}}
    </a>
  {{/returnurl}}

  <!-- Assignment data -->
  <div class="card mb-4">
    <div class="card-header bg-primary text-white">{{#str}} assignmentdata, local_taskflow {{/str}}</div>
    <div class="card-body">
      <dl class="row">
        {{#assignmentdata}}
        <dt class="col-sm-4">{{label}}</dt>
        <dd class="col-sm-8">{{{value}}}</dd>
        {{/assignmentdata}}
      </dl>
        <div data-id="assignmentform" data-assignmentid="{{id}}"
        {{#returnurl}}data-returnurl="{{returnurl}}"{{/returnurl}}>
        {{{editassignmentform}}}
        </div>
    </div>
  </div>
{{#hascommentform}}
<!--CommentForm -->
<div class="card mb-4">
    <div class="card-header bg-primary text-white">KomEnTAr</div>
    <div class="card-body">
        <div data-id="commentform" data-assignmentid="{{id}}"
             {{#returnurl}}data-returnurl="{{returnurl}}"{{/returnurl}}>
            {{{commentform}}}
        </div>
    </div>
</div>
{{/hascommentform}}
  <!-- Historie -->
  <div class="card mb-4">
    <div class="card-header bg-info text-white">Historie</div>
    <div class="card-body p-0">
      {{{historylist}}}
    </div>
  </div>
</div>

{{#js}}
require(['local_taskflow/editassignmentform'], function(init) {
    init.init('[data-id="assignmentform"]', '{{{adapter}}}');
});
require(['local_taskflow/commentform'], function(init) {
init.init('[data-id="commentform"]', 'taskflowadapter_tuines\\form\\comment_form');
});
{{/js}}